.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html {
  font-size: 62.5%;
}
body {
  background: #EFEFEF;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.calendar {
  display: block;
  background: #FFFFFF;
  width: 300px;
  border: solid 1px #CCCCCC;
  margin: 10px auto;
  box-shadow: 0 0 15px 0 #C0C0C0;
  font-size: 1.3rem;
  text-align: center;
}
.calendar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  cursor: default;
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calendar header .month-display {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background: #2875C7;
}
.calendar header .month-label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.calendar header .arrow {
  text-align: center;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background .2s;
  transition: background .2s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calendar header .arrow:hover {
  background: #1f5c9d;
}
.calendar .week {
  border-top: solid 1px #CCCCCC;
}
.calendar .week:first-child {
  border-top: none;
}
.calendar .day-names {
  color: #2875C7;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}
.calendar .day-names .day {
  cursor: default;
}
.calendar .day-names .day:hover {
  background: inherit;
}
.calendar .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 35px;
  border-left: solid 1px #CCCCCC;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.calendar .day:hover {
  background: #EFEFEF;
}
.calendar .day:first-child {
  border-left: none;
}
.calendar .day.today {
  background: #dceaf8;
}
.calendar .day.different-month {
  color: #C0C0C0;
}
.calendar .day.selected {
  background: #2875C7;
  color: #FFFFFF;
}
